@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
* {
    font-family: 'Rubik', sans-serif;
    background-color: white;
}
h1 {
    background-color:white;
    display: flex;
    justify-content: center;
align-items: center;
padding:0px;
color:#A93226;
font-size: 40px;
margin: 10px 10px;
}
 
h2 {
    background-color:white;
    display: flex;
    justify-content: center;
align-items: center;
padding: none;
color:#EC7063 ;
font-size: 20px;
margin-block-end: 0px;
margin-block-start: 0px;
}

.contentCipher {
background-color: #FFAE18;
display: inline-block;
width: 45%;
height: 45%;
margin: 0px 10px;
margin-left: 57px;
color: black;
box-shadow: 4px 4px 20px 0px #DC7633;
}


#Clue { 
    background-color:white;
    width: 450px;
    height: 160px;
    display: flex;
   border-width: 1px;
   border-color: white;
   border-radius: 5px;
   margin: 10px 50px;
  }
  
  #result {
background-color:white;
    width: 450px;
    height: 160px;
    display: flex;
   border-width: 1px;
   border-color: white;
   border-radius: 5px;
   margin: 10px 50px;

  }

  #btCifrar {
    border: none;
    background-color:#FF5733;
    padding: 5px 45px;
    color:white;
    display: inline-block;
    margin: 5px 190px;
align-items: center;
justify-content: center;
font-size: 18px;
border-radius: 25px;
  }

.contentnotcipher {
    background-color: #FFAE18;
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin:0px;
    margin-right: 20px;
    padding: 0px;
    color: black;
    font-size: 20px;
   box-shadow: 4px 4px 20px 0px #DC7633;
   }

#Clue2 {
  background-color:white;
  width: 450px;
  height: 160px;
  display: flex;
 border-width: 1px;
 border-color: white;
 border-radius: 5px;
 margin: 10px 50px;
}

#result2 {
  background-color:white;
  width: 450px;
  height: 160px;
  display: flex;
 border-width: 1px;
 border-color:white;
 border-radius: 5px;
 margin: 10px 50px;
}
#btDescifrar {
  border: none;
  background-color:#FF5733;
  padding: 5px 45px;
  color:white;
  display: inline-block;
  margin: 5px 190px;
align-items: center;
justify-content: center;
font-size: 18px;  
border-radius: 25px;
}
#password1 {
    width: 60px;
    height: 30px;
margin:0px;
justify-content: center;
text-align: center;
padding: 10 px;
border: 1px;
}
label {
  margin: 20px 20px;
  text-align: center;
  display:block;
  font-size: 18px;
 background-color:#FFAE18;
 }
p {
  margin:15px 15px;
font-size: 15px;
display: inline-block;
text-align: center;
width: 50%;
height: 50%;
background-color: #FFAE18;

}

form {
  background-color: #FFAE18;
}