@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
* {
    font-family: 'Rubik', sans-serif;  
}

.flex {
  display: flexbox;
  
}

body {
  background-image: url(./Fondo-cipher.jpg);
}
h1 {
    background-color:white;
    display: flex;
    justify-content: center;
align-items: center;
padding:0px 0px;
color:black;
font-size: 40px;
margin:0px;
border:0px;

}
 
h2 {
    background-color:white;
    display: flex;
    justify-content: center;
align-items: center;
padding: 5px 5px;
color: #A93226;
font-size: 22px;
margin-block-end: 0px;
margin-block-start: 0px;
}

.contentCipher {
    background-color: #FFAE18;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0px 0px;
  margin-left: 0px;
  color: black;
  box-shadow: 4px 4px 20px 0px #DC7633;

}
form {
  background-color: #FFAE18;
display: inline-block;
width: 45%;
height: 45%;
margin: 0px 10px;
margin-left: 57px;
color: black;

}

#Clue { 
    background-color:white;
    width: 450px;
    height: 100px;
    display: flex;
   border-width: 1px;
   border-color: white;
   border-radius: 5px;
   margin: 7px 50px;
  }
  
  #result {
background-color:white;
    width: 450px;
    height: 100px;
    display: flex;
   border-width: 1px;
   border-color: white;
   border-radius: 5px;
   margin: 10px 50px;

  }

  #btCifrar {
    border: none;
    background-color:#FF5733;
    padding: 12px 35px;
    color:white;
    display: inline-block;
    margin: 10px 190px;
justify-content: center;
font-size: 16px;
border-radius: 25px;
  }

.contentnotcipher {
    background-color: #FFAE18;
    display: inline-block;
    width: 45%;
    height: 50%;
    vertical-align: top;
    margin:0px;
    margin-right: 20px;
    padding: 0px;
    color: black;
    font-size: 20px;
   box-shadow: 4px 4px 20px 0px #DC7633;
   }

#Clue2 {
  background-color:white;
  width: 450px;
  height: 100px;
  display: flex;
 border-width: 1px;
 border-color: white;
 border-radius: 5px;
 margin: 7px 50px;
}

#result2 {
  background-color:white;
  width: 450px;
  height: 100px;
  display: flex;
 border-width: 1px;
 border-color: white;
 border-radius: 5px;
 margin: 21px 50px;
}
#btDescifrar {
  border: none;
    background-color:#FF5733;
    padding: 4px 35px;
    color:white;
    display: inline-block;
    margin: 10px 190px;
justify-content: center;
font-size: 16px;
border-radius: 25px;
}
#password1 {
    width: 80px;
    height: 25px;
margin:0px;
justify-content: center;
text-align: center;
padding: 0px 10px;
border: 1px;
}

#password2 {
  width: 80px;
  height: 25px;
margin:0px;
justify-content: center;
text-align: center;
padding: 0px 10px;
border: 1px;
}
label {
  margin: 18px 20px;
  text-align: center;
  display:block;
  font-size: 18px;
 background-color:#FFAE18;
 }
p {
  margin: 2px 15px;
font-size: 15px;
display: inline-block;
text-align: center;
width: 50%;
height: 50%;
background-color: #FFAE18;

}

